mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    margin-top: 150px;
    background: rgb(45, 137, 79);
    background: linear-gradient(20deg, rgb(50, 137, 79) , hsla(220, 29%, 36%, 1));
    opacity:0.9
    
  }
  
.labelcolor{
  color:beige
}
  .full-width {
    width: 80%;
  }
  .colors{
    color: antiquewhite;
    
}
  