
  <div class="container-xxl bg-white p-0">
   

    <!-- Header Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div class="col-lg-3 bg-success d-none d-lg-block">
                <a href="index.html" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <h1 class="m-0 text-white text-uppercase">{{"MNShipment"| translate}}</h1>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row gx-0 bg-white d-none d-lg-flex">
                    <div class="col-lg-7 px-5 text-start">
                        <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                            <i class="fa fa-envelope text-primary me-2"></i>
                            <p *ngIf="islogged()" class="mb-0 text-dark">Welcome {{userloggedname}}</p>
                        </div>
                       
                    </div>
                    <div class="col-lg-5 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                            <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-success navbar-dark p-3 p-lg-0">
                    <a href="index.html" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                          <a *ngIf="islogged()" class="nav-link" routerLink="/Home" routerLinkActive="active">{{"Home"|translate}}</a>
                          <a  *ngIf="!islogged()" class="nav-link" routerLink="/login" routerLinkActive="active">{{"login"|translate}}</a>
                          <a *ngIf="!islogged()" class="nav-link" routerLink="/signup" routerLinkActive="active">{{"Register"|translate}}</a>
                          <a *ngIf="islogged()" class="nav-link" routerLink="/shipment" routerLinkActive="active">{{"NewShipment"|translate}}</a>
                
                         <a *ngIf=islogged() class="nav-link" routerLink="/signup" routerLinkActive="active" (click)="logout()">{{"Logout"|translate}}</a>
                         <a  class="nav-link btn  rounded-0 py-4 px-md-5 d-none d-lg-block"  (click)="changecurrentlang('en')">{{"EN"|translate}}</a>
                         <a  class="nav-link btn  rounded-0 py-4 px-md-5 d-none d-lg-block"  (click)="changecurrentlang('ar')">{{"AR"|translate}}</a>
                        </div>
                        <a  routerLink="/shipment" routerLinkActive="active" class="btn btn-success rounded-0 py-4 px-md-5 d-none d-lg-block">{{"NewShipment"|translate}}<i class="fa fa-arrow-right ms-3"></i></a>
                       
                    </div>
                </nav>
            </div>
        </div>
    </div>
  </div>