mat-card {
    max-width: 1500px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    margin-top: 150px;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(20deg, hsla(205, 46%, 30%, 1) , hsla(260, 29%, 36%, 1));
  }
  
  .step{
    background-color:rgb(203, 194, 180);
    opacity: 0.9;
    width: 80%;
    margin: auto;
  }
  .full-width {
    width: 30%;
  }
  .colors{
    color: antiquewhite;
    
}
  